body {
  font-family: 'Montserrat', sans-serif;
  padding: 25px 60px;
  background: #e0eafc; /* fallback for old browsers */
  background: #ece9e6; /* fallback for old browsers */
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  color: black;
}
