body {
  font-family: 'Montserrat', sans-serif;
  padding: 25px 60px;
  background: linear-gradient(-45deg, #f7f8b3, #fab1f4, #b6f9fb, #bfb8fa);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: black;
}
