body {
  font-family: 'Montserrat', sans-serif;
  padding: 25px 60px;
  background: linear-gradient(-45deg, #f6a8a8, #fb7575, #a1ddf8, #87d4f8);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);

  transform: scale(1.2);
  color: rgb(73, 58, 58);
}

* {
  box-sizing: border-box;
}
